<!doctype html>
<html>
<head>
	<title>Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
	<div style="background:lightgrey;">
		<h2>Site Navigation:</h2>
		<a href="/satellites">Sattellites</a> <a href="/launchvehicles">Lanuch Vehicles</a>
	</div>

	{{{body}}}
</body>
</html>
