<h1>Contractors List:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Name</th> 
        <th>Revenue</th> 
    </thead> 
    <tbody> 
        {{#each contractors}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{revenue}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addcontractor" action="/contractors" method="post">
		Name: <input type="text" name="name"><br>
		Revenue: <input type="text" name="revenue"><br>
		<input type="submit" value="Submit">
    </form>
</table> 
