<h1>Current launchvehicles:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Satellite Name</th> 
        <th>Lanuch Vehicle</th> 
    </thead> 
    <tbody> 
        {{#each launchvehicles}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{payload_leo}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addlaunchvehicle" action="/launchvehicles" method="post">
		Name: <input type="text" name="name"><br>
		Payload to LEO: <input type="text" name="payload_leo"><br>
		<input type="submit" value="Submit">
    </form>
</table> 
